{% extends 'blog/base.html' %}

{% block title %}Excelerate home{% endblock %}

{%block main_content %}

<h1 class="page-header">
    Ecxelerate
    <small>Latest posts on Excel</small>
</h1>

<div class="col-md-8">
<!-- First Blog Post -->
{% for post in posts %}
<h2>
    <a href="/blog/post/{{post.id}}">{{post.title}}</a>
</h2>

<p><span class="glyphicon glyphicon-time"></span> Posted on {{post.publication_date | date:"g:i A, D j F Y" }}</p>
<hr>
<p>
    {{ post.content | truncatewords:50 | striptags }}
</p>
<a class="btn btn-primary" href="/blog/post/{{post.id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    <li class="previous">
        <a href="#">&larr; Older</a>
    </li>
    <li class="next">
        <a href="#">Newer &rarr;</a>
    </li>
</ul>
</div>
{% endblock %}
