{% extends 'blog/base.html' %}

{% block title %}Excelerate home{% endblock %}

{%block main_content %}

<h1 class="page-header">
    Ecxelerate
    <small>Latest posts on Excel</small>
</h1>

<div class="col-md-8">
<!-- First Blog Post -->
{% for post in posts %}
<h2>
    <a href="/blog/post/{{post.id}}">{{post.title}}</a>
</h2>

<p><span class="glyphicon glyphicon-time"></span> Posted on {{post.publication_date | date:"g:i A, D j F Y" }}</p>
<hr>
<p>
    {{ post.content | truncatewords:50 | striptags }} <a href="/blog/post/{{post.id}}">read more</a>
</p>


<hr>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    {% if posts.has_previous %} 
    <li class="previous">
        <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
    </li>
    {% endif %}
    <li>Page {{ posts.number }} of {{ posts.paginator.num_pages }} </li>
    
    {% if posts.has_next %} 
    <li class="next">
        <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
    </li>
    {% endif %} 
</ul>
</div>
{% endblock %}
