{% extends 'blog/base.html' %}

{% block title %}Excelerate home{% endblock %}

{%block main_content %}

<h2 class="page-header">
    Ecxelerate
    <small>Latest blog posts on Excel</small>
</h2>

<div class="col-md-8">
<!-- First Blog Post -->
{% for post in posts %}
<div class="row">
        <h3>
            <a href="/blog/post/{{post.id}}">{{post.title}}</a>
        </h3>
</div>
<div class="row">
    <p>
        {{ post.content | truncatewords:50 | striptags | safe }} <a href="/blog/post/{{post.id}}">read more</a>
    </p>
</div>
<div class="row">
        <h5 class="text-right color-gray">{{post.publication_date | date:"D j F Y" }}</h5>
</div>
<hr>
{% endfor %}

<!-- Pager -->
<ul class="pager">
    {% if posts.has_previous %} 
    <li class="previous">
        <a href="?page={{ posts.previous_page_number }}">&larr; Newer</a>
    </li>
    {% endif %}
    <li>Page {{ posts.number }} of {{ posts.paginator.num_pages }} </li>
    
    {% if posts.has_next %} 
    <li class="next">
        <a href="?page={{ posts.next_page_number }}">Older &rarr;</a>
    </li>
    {% endif %} 
</ul>
</div>
{% endblock %}
